[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
faker = "*"

[packages]
flask = "*"
flask-ckeditor = "*"
flask-login = "*"
flask-mail = "*"
flask-moment = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
bootstrap-flask = "*"
flask-debugtoolbar = "*"

[requires]
python_version = "3.7"
