{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}修改密码{% endblock %}

{% block header %}
<h1>
    用户管理
    <small>修改密码</small>
</h1>
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.index') }}"><i class="fa fa-dashboard"></i>主页</a></li>
        <li><a href="{{ url_for('user.list_user') }}"><i class="fa fa-dashboard"></i> 用户管理</a></li>
        <li class="active">修改密码</li>
    </ol>
{% endblock header %}

{% block content %}
    <div class="container">
        <div class="card-header"><h4>&nbsp;</h4></div>
        <div class="col-lg-4 col-md-8">
            {{ render_form(form, button_map={'submit':'primary'}) }}
        </div>
    </div>
{% endblock %}