{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}登录{% endblock %}

{% block header %}
<h1>
    用户权限管理
    <small>登录</small>
</h1>
{% endblock header %}

{% block content %}

    <div class="container">
        <div class="card-header"><h4>&nbsp;</h4></div>
        <div class="col-lg-4 col-md-8">
            {{ render_form(form, button_map={'submit':'primary'}) }}

            <a href="{{ url_for('auth.forget_password') }}">忘记密码</a>
        </div>
    </div>

    <div class="container">
        默认用户名：malimali<br>
        登录密码：mljmljmlj
    </div>
{% endblock %}