{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}管理用户{% endblock %}

{% block content %}
<div class="page-header">
    <h1>用户
        <small class="text-muted">{{ pagination.total }}</small>
        <span class="float-right"><a class="btn btn-primary btn-sm"
                                     href="{{ url_for('.new_user') }}">添加用户</a></span>
    </h1>
</div>
{% if users %}
<table class="table table-striped">
    <thead>
    <tr>        
        <th>用户名</th>
        <th>账号</th>
        <th>邮箱</th>
        <th>角色</th>
        <th>激活状态</th>
        <th>确认状态</th>
        <th>注册时间</th>
        <th>登录时间</th>        
        <th>离开时间</th>
    </tr>
    </thead>
    {% for user in users %}
    <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.active }}</td>
        <td>{{ user.confirmed }}</td>
        <td>{{ moment(user.member_since).format('LL') }}</td>
        <td>{{ moment(user.login_date).format('LL') }}</td>
        <td>{{ moment(user.last_date).format('LL') }}</td>
    </tr>
    {% endfor %}
</table>
<div class="page-footer">{{ render_pagination(pagination) }}</div>
{% else %}
<div class="tip"><h5>没有了。</h5></div>
{% endif %}
{% endblock %}