{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}增加用户{% endblock %}

{% block header %}
    <h1>
        用户管理
        <small>增加用户</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.index') }}"><i class="fa fa-dashboard"></i>主页</a></li>
        <li><a href="{{ url_for('user.list_user') }}"><i class="fa fa-dashboard"></i> 用户管理</a></li>
        <li class="active">增加用户</li>
    </ol>
{% endblock header %}

{% block content %}
    <div class="container">
            <div class="col-md-4">
                <div class="card mb-3 w-100 bg-light">
                    <div class="card-header"><h4>&nbsp;</h4></div>
                    <div class="card-body">
                        {{ render_form(form) }}
                        <hr>
                        <small>已注册用户? <a href="{{ url_for('auth.login') }}">直接登录</a>
                        </small>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}