{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}JudiPlat 首页{% endblock %}

{% block header %}
    <h1>主页
        <small>司法技术工作平台</small></h1>
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.index') }}"><i class="fa fa-dashboard active"></i>主页</a></li>
    </ol>
{% endblock header %}

{% block content %}
    <div class="container">
        <h2 class="display-3">这是adminLTE版本的首页</h2>
        <h4 class="text-info text-center">&nbsp;"副标题"</h4>
    </div>
    <div class="row">

    </div>
{% endblock %}
